<div class="page-header">
    <img src="{{#if details.image}}{{details.image}}{{else}}{{global.images.header}}{{/if}}">
    <h1>{{#if title}}{{title}}{{else}}{{global.company_name}}{{/if}}</h1>
</div>